<!DOCTYPE html>
<html lang="sl">
{% load static i18n wagtailcore_tags %}
{% wagtail_site as current_site %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block full-title %}{% block title %}{% endblock %} • Podnebnik{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script>WebFont.load({google: {families: ['IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700', 'Bitter:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900']}})</script>
    <style>html.wf-loading * { opacity: 0 }</style>
    <link rel="stylesheet" href="{% static 'frontend/main.css' %}">
    {% block extra-head %}{% endblock %}
</head>
<body>
    {% block wagtail %}{% endblock %}
    <header>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/{{ LANGUAGE_CODE }}/">
                    <img src="{% static 'images/podnebnik-logo--orange.svg' %}" alt="Podnebnik">
                </a>
                <a id="menuToggle" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="mainMenu" class="navbar-menu">
                <div class="navbar-end">
                    {% with root=current_site.root_page.localized %}
                    {% for item in root.get_children.live %}
                    {% if item.show_in_menus %}
                    <a class="navbar-item {% if item.slug in request.path %} is-active {% endif %}" href="{% pageurl item.localized %}">{{ item.title }}</a>
                    {% endif %}
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </nav>
    </header>

    <main>
    {% block content %}
    {% endblock content %}
    </main>

    <footer class="footer">
        <div class="container">
            <div class="columns is-multiline links">
                <div class="column is-6-tablet is-3-desktop">
                    <img src="{% static 'images/podnebnik-logo--black.svg' %}" alt="Podnebnik" class="logo">
                </div>
                <div class="column is-6-tablet is-3-desktop">
                    <div class="header">Podnebnik</div>
                    {% with root=current_site.root_page.localized %}
                    <ul>
                        {% for item in root.get_children.live %}
                        {% if item.show_in_menus %}
                        <li><a href="{% pageurl item.localized %}">{{ item.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endwith %}
                </div>
                <div class="column is-6-tablet is-3-desktop">
                    <div class="header">Naši projekti</div>
                    <ul>
                        <li><a href="https://covid-19.sledilnik.org/">Covid-19 Sledilnik</a></li>
                        <li><a href="https://zdravniki.sledilnik.org/">Zdravniki</a></li>
                        <li><a href="https://www.podnebnik.org/">Podnebnik</a></li>
                    </ul>
                </div>
                <div class="column is-6-tablet is-3-desktop">
                    <div class="header">Povezave</div>
                    <div class="social">
                        <a href="https://medium.com/podnebnik" target="_blank" rel="noreferrer"><img loading="lazy" src="https://sledilnik.org/img/medium-icon.94333022.svg" alt="Medium"> Medium</a>
                        <a href="https://twitter.com/podnebnik" target="_blank" rel="noreferrer"><img loading="lazy" src="https://sledilnik.org/img/tw-icon.28a330d7.svg" alt="Twitter"> Twitter</a>
                        <a href="https://fb.me/COVID19Sledilnik" target="_blank" rel="noreferrer"><img loading="lazy" src="https://sledilnik.org/img/fb-icon.6256917d.svg" alt="Facebook"> Facebook</a>
                        <a href="https://www.youtube.com/channel/UCM_Sk2GZ8vTMiyBQ0SMHgJw/videos" target="_blank" rel="noreferrer"><img loading="lazy" src="https://sledilnik.org/img/youtube.e571414b.svg" alt="YouTube"> YouTube</a>
                        <a href="https://github.com/podnebnik" target="_blank" rel="noreferrer"><img loading="lazy" src="https://sledilnik.org/img/gh-icon.040dd043.svg" alt="GitHub"> GitHub</a>
                    </div>
                </div>
            </div>
            <div class="columns copyright">
                <div class="column is-6-tablet">
                    © 2020-2022 Znanstveno društvo Sledilnik
                </div>
                <div class="column is-6-tablet">
                    <a href="mailto:info@podnebnik.org">info@podnebnik.org</a>
                    <a href="https://sledilnik.org/">sledilnik.org</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'frontend/main.js' %}"></script>
    {% block extra-scripts %}{% endblock %}
</body>
</html>
