<!DOCTYPE html>
<html lang="sl">
{% load static i18n wagtailcore_tags %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block full-title %}{% block title %}{% endblock %} • Podnebnik{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script>WebFont.load({google: {families: ['IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700']}})</script>
    <style>html.wf-loading * { opacity: 0 }</style>
    <link rel="stylesheet" href="{% static 'frontend/main.css' %}">
    {% block extra-head %}{% endblock %}
</head>
<body>
    {% block wagtail %}{% endblock %}
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="{% static 'images/logo.png' %}" alt="Podnebnik">
                </a>
                <a id="menuToggle" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="mainMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/">
                        O projektu
                    </a>
                    <a class="navbar-item" href="/faq/">
                        FAQ
                    </a>
                    <a class="navbar-item" href="/podpri/">
                        Podpri
                    </a>
                    {% if page %}
                        <div class="dropdown is-right" id="language-selector">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    {% get_language_info for LANGUAGE_CODE as current_lang %}
                                    <span class="icon"><i data-feather="globe"></i></span>
                                    <span>{{ current_lang.name_local }}</span>
                                    <span class="icon"><i data-feather="chevron-down"></i></span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    {% for language_code, language_name in LANGUAGES %}
                                        {% if language_code != LANGUAGE_CODE %}
                                        {% get_language_info for language_code as lang %}
                                        {% language language_code %}
                                        {% if page.localized == page %}
                                        <a class="dropdown-item" href="/{{ language_code }}/" rel="alternate" hreflang="{{ language_code }}">
                                            {{ lang.name_local }}
                                        </a>
                                        {% else %}
                                        <a class="dropdown-item" href="{% pageurl page.localized %}" rel="alternate" hreflang="{{ language_code }}">
                                            {{ lang.name_local }}
                                        </a>
                                        {% endif %}
                                        {% endlanguage %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main>
    {% block content %}
    {% endblock content %}
    </main>

    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-9-desktop is-offset-3-desktop">
                    <div class="copyright"><span>© 2021 Podnebnik.org</span></div>
                    <div class="email"><a href="mailto:info@podnebnik.org"><span>info@podnebnik.org</span></a></div>
                    <div class="social">
                        <a href="https://fb.me/COVID19Sledilnik" target="_blank" rel="noreferrer"><img loading="lazy" src="https://sledilnik.org/img/fb-icon.6256917d.svg" alt="Facebook"></a>
                        <a href="https://twitter.com/sledilnik" target="_blank" rel="noreferrer"><img loading="lazy" src="https://sledilnik.org/img/tw-icon.28a330d7.svg" alt="Twitter"></a>
                        <a href="https://medium.com/sledilnik" target="_blank" rel="noreferrer"><img loading="lazy" src="https://sledilnik.org/img/medium-icon.94333022.svg" alt="Medium"></a>
                        <a href="https://www.youtube.com/channel/UCM_Sk2GZ8vTMiyBQ0SMHgJw/videos" target="_blank" rel="noreferrer"><img loading="lazy" src="https://sledilnik.org/img/youtube.e571414b.svg" alt="YouTube"></a>
                        <a href="https://github.com/sledilnik" target="_blank" rel="noreferrer"><img loading="lazy" src="https://sledilnik.org/img/gh-icon.040dd043.svg" alt="GitHub"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'frontend/main.js' %}"></script>
    {% block extra-scripts %}{% endblock %}
</body>
</html>
