.DS_Store

*.py[cod]
__pycache__/

node_modules

scripts/**/bin
scripts/**/obj
scripts/**/fable_modules
scripts/**/*.fs.js
scripts/**/*.fs.js.map
scripts/**/*.fs.jsx
scripts/**/*.fs.jsx.map

var
dist
