[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pipenv = "*"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
wagtail = "*"
datasette = "*"
sqlite-utils = "*"
invoke = "*"
frictionless = {extras = ["sql"], version = "*"}
colorama = "*"

[requires]
python_version = "3.11"
