{% extends 'website/pages/base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="container article">
    <div class="columns is-multiline">
        <div class="column is-10-tablet is-offset-1-tablet is-8-desktop is-offset-2-desktop is-8-widescreen is-offset-2-widescreen is-6-fullhd is-offset-3-fullhd">
            <div class="article__header">
                <h1>{{ page.title }}</h1>
                <div class="delimeter"></div>
                {% if page.lead %}<div class="lead">{{ page.lead|richtext }}</div>{% endif %}
            </div>
        </div>
        <div class="text-content">{% include_block page.body %}</div>
    </div>
</div>
{% endblock %}

{% block extra-scripts %}

{% for data in visualisations_data %}
{{ data.data|json_script:data.id }}
{% endfor %}

{% for visualisation in visualisations %}
<script>Visualisations.{{ visualisation.function }}("{{ visualisation.id }}", {% for arg in visualisation.args %}"{{ arg }}"{% if not forloop.last %}, {% endif %}{% endfor %})</script>
{% endfor %}

{% endblock %}
