{% extends 'website/pages/base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="container home">
    <div class="columns">
        <div class="column is-10-tablet is-offset-1-tablet is-8-desktop is-offset-2-desktop is-8-widescreen is-offset-2-widescreen is-6-fullhd is-offset-3-fullhd">
            <div class="lead">{{ page.lead|richtext }}</div>
            {% for article in articles %}
            {% include 'website/pages/partials/home-article-card.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
