{% extends 'website/pages/base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="container home">
    <div class="columns is-multiline">
        <div class="column is-7-desktop is-offset-3-desktop">
            <div class="lead">{{ page.lead|richtext }}</div>
            {% for article in articles %}
            {% include 'website/pages/home-article-card.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
