<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <script type="module" src="/code/main.js"></script>
    <link rel="stylesheet" href="/styles/main.sass">
</head>

<body class="font-serif bg-tertiary">
    <header>
        <nav role="navigation" class="bg-primary mb-3gap text-white flex items-center min-h-[75px] px-3" aria-label="Main">
            <a href="/"><img src="/assets/logo/logo-orange.svg" alt="Podnebnik"></a>
            {% include 'octocat.html' %}
        </nav>
    </header>

    <main>
        {% block content %}
        {{ content }}
        {% endblock %}
    </main>

    <footer class="mt-3gap mx-gap md:mx-3gap font-sans text-muted [&_a]:text-[#212529]">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
            <div class="border-t pr-2gap py-2gap lg:p-2gap lg:border-r">
                <img src="/assets/logo/logo-black.svg" alt="Podnebnik" class="opacity-50">
            </div>
            <div class="border-t pr-2gap py-2gap lg:p-2gap lg:border-r">
                <div class="font-bold uppercase text-muted opacity-50 tracking-widest text-xs">Podnebnik</div>
                <ul class="mt-gap">
                    <li class="mb-2"><a href="/sl/o-projektu/">O projektu</a></li>
                    <li class="mb-2"><a href="/sl/clanki/">Članki</a></li>
                    <li class="mb-2"><a href="/sl/faq/">FAQ</a></li>
                </ul>
            </div>
            <div class="border-t pr-2gap py-2gap lg:p-2gap lg:border-r">
                <div class="font-bold uppercase text-muted opacity-50 tracking-widest text-xs">Naši projekti</div>
                <ul class="mt-gap">
                    <li class="mb-2"><a href="https://covid-19.sledilnik.org/">Covid-19 Sledilnik</a></li>
                    <li class="mb-2"><a href="https://zdravniki.sledilnik.org/">Zdravniki</a></li>
                    <li class="mb-2"><a href="https://podnebnik.org/">Podnebnik</a></li>
                </ul>
            </div>
            <div class="border-t pr-2gap py-2gap lg:p-2gap">
                <div class="font-bold uppercase text-muted opacity-50 tracking-widest text-xs">Povezave</div>
                <ul class="mt-gap">
                    <li class="mb-2"><a href="https://medium.com/podnebnik" target="_blank" rel="noreferrer"><img class="h-[20px] w-[20px] opacity-30 mr-2 inline-block" loading="lazy" src="https://sledilnik.org/img/medium-icon.94333022.svg" alt="Medium"> Medium</a></li>
                    <li class="mb-2"><a href="https://twitter.com/podnebnik" target="_blank" rel="noreferrer"><img class="h-[20px] w-[20px] opacity-30 mr-2 inline-block" loading="lazy" src="https://sledilnik.org/img/tw-icon.28a330d7.svg" alt="Twitter"> Twitter</a></li>
                    <li class="mb-2"><a href="https://fb.me/SledilnikOrg" target="_blank" rel="noreferrer"><img class="h-[20px] w-[20px] opacity-30 mr-2 inline-block" loading="lazy" src="https://sledilnik.org/img/fb-icon.6256917d.svg" alt="Facebook"> Facebook</a></li>
                    <li class="mb-2"><a href="https://www.youtube.com/channel/UCM_Sk2GZ8vTMiyBQ0SMHgJw/videos" target="_blank" rel="noreferrer"><img class="h-[20px] w-[20px] opacity-30 mr-2 inline-block" loading="lazy" src="https://sledilnik.org/img/youtube.e571414b.svg" alt="YouTube"> YouTube</a></li>
                    <li class="mb-2"><a href="https://github.com/podnebnik" target="_blank" rel="noreferrer"><img class="h-[20px] w-[20px] opacity-30 mr-2 inline-block" loading="lazy" src="https://sledilnik.org/img/gh-icon.040dd043.svg" alt="GitHub"> GitHub</a></li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col md:flex-row justify-between mt-2gap md:border-t md:border-dashed">
            <div class="border-t border-dashed md:border-none pt-gap mb-gap">
                © 2020-2023 Znanstveno društvo Sledilnik
            </div>
            <div class="border-t border-dashed md:border-none pt-gap mb-gap space-x-gap">
                <a href="mailto:info@podnebnik.org">info@podnebnik.org</a>
                <a href="https://sledilnik.org/">sledilnik.org</a>
            </div>
        </div>
    </footer>

</body>

</html>
