.footer
    margin-top: $gap * 2

    a
        color: $text

    .column
        position: relative
        padding-top: math.div($gap,2)
        border-top: solid 4px $primary
        display: flex
        font-size: $size-7

        @include until($mobile)
            flex-direction: column

    .copyright
        flex-grow: 1

    .email
        margin-right: $gap

    .social
        a
            margin-right: math.div($gap,4)

        img
            height: 20px
            opacity: 0.3

        @include until($mobile)
            position: absolute
            top: math.div($gap,2)
            right: 0

            img
                height: 30px
