---
title: Podnebnik
layout: base.html
summary: S pomočjo podatkov, analiz in simulacij pomagamo k boljšemu razumevanju podnebnih sprememb in okoljskih tveganj v Sloveniji.
---

<div class="prose lg:prose-lg prose-neutral mx-auto px-gap prose-headings:font-sans prose-headings:font-bold">
    <div class="lead">
        {{ summary }}
    </div>

    {% for post in collections.post reversed %}
    {% include '_includes/card.html', url: post.url, title: post.data.title, summary: post.data.summary, date: post.date, published: post.data.published, tags: post.data.topics %}
    {% endfor %}
</div>
