---
title: Podnebnik
layout: base.html
summary: S pomočjo analiz in prikazov podatkov omogočamo boljšo oceno tveganj podnebnih sprememb v Sloveniji.
---

<div class="prose lg:prose-lg prose-neutral mx-auto px-gap prose-headings:font-sans prose-headings:font-bold">
    <div class="lead">
        {{ summary }}
    </div>

    {% for post in collections.post reversed %}
    {% include '_includes/card.html', url: post.url, title: post.data.title, summary: post.data.summary, date: post.date, tags: post.data.topics %}
    {% endfor %}
</div>
