@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --color-primary: #462a44;
  --color-secondary: #ffb644;
}

h1::after {
  display: block;
  margin-top: 1.5rem;
  width: 50px;
  height: 6px;
  background: var(--color-secondary);
  content: "";
}

footer a {
  transition-property: color;
  transition-duration: 300ms;
}
footer a:hover {
  color: var(--color-primary);
}

.lead {
  font-family: var(--font-serif, serif);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.375;
  color: #000;
  padding-top: var(--gap, 0.5rem);
  padding-bottom: var(--gap, 0.5rem);
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.article-metadata {
  display: inline-flex;
  align-items: center;
  color: var(--tw-text-muted, #6b7280);
}

.article-metadata img {
  width: 1.25rem;
  height: 1.25rem;
  display: inline;
  opacity: 0.3;
  margin-right: 0.375rem;
}

.article-metadata .author {
  font-weight: bold;
  color: #000;
}

.article-content h1::after {
  display: none;
}

.article-content a {
  transition-property: color;
  transition-duration: 300ms;
}
.article-content a:hover {
  color: var(--color-primary);
}

blockquote {
  margin-left: -1.5em;
  padding-left: 1.5em;
  @apply text-xl font-medium border-l-2 border-primary;
}
blockquote p:before,
blockquote p:after {
  display: none;
}
blockquote blockquote {
  margin-left: 0;
}

.chart {
  @apply lg:ml-[-100px] lg:mr-[-100px] bg-white p-gap sm:p-2gap rounded-md;
}

.image {
  @apply lg:ml-[-100px] lg:mr-[-100px];
}
.image figcaption {
  @apply gap-5 flex justify-end text-sm items-start text-muted italic;
}
.image figcaption img {
  @apply m-0 !important;
}
.image picture img {
  @apply w-full h-auto rounded;
}

.btn {
  @apply inline-block font-sans text-secondary bg-primary hover:bg-primary-dark px-3 py-1 rounded-md transition-colors duration-300;
}
.btn-control {
  @apply inline-block font-sans bg-zinc-100 hover:bg-zinc-200 px-3 py-1 rounded-md transition-colors duration-300;
}
.btn-sm {
  @apply text-sm;
}
.btn[disabled] {
  @apply opacity-40;
}
.btn-control[disabled] {
  @apply bg-secondary font-bold;
}

.logo {
  min-width: 181px;
  min-height: 54px;
}

.nav-link {
  @apply text-base opacity-70 hover:opacity-100 focus:opacity-100 font-sans px-3 py-2 font-medium transition-all duration-300;
}
.nav-link:hover,
.nav-link[aria-current="page"] {
  box-shadow: inset 0px -10px 0 var(--color-secondary);
}
.nav-link[aria-current="page"] {
  @apply opacity-100;
}

.input-range {
  @apply h-[4px] w-full cursor-pointer disabled:cursor-auto appearance-none border-transparent bg-neutral-600 disabled:bg-neutral-200 accent-primary;
}

.select {
  box-shadow: inset 0px -10px 0 var(--color-secondary);
}
.select:focus {
  box-shadow: inset 0px -10px 0 var(--color-secondary);
}
.select:hover {
  box-shadow: none;
}
