@tailwind base
@tailwind components
@tailwind utilities

@import 'octocat'

@layer base
    h1
        @apply after:block after:mt-6 after:w-[50px] after:h-[6px] after:bg-secondary

@layer components
    .lead
        @apply font-serif text-2xl font-semibold leading-snug text-black pt-2gap pb-2gap border-y #{!important}

    .article-content
        h1:after
            display: none

        blockquote
            margin-left: -1.5em
            padding-left: 1.5em
            @apply text-xl font-medium border-l-2 border-primary
            p:before,
            p:after
                display: none

            blockquote
                margin-left: 0

    .chart
        @apply lg:ml-[-100px] lg:mr-[-100px] bg-white p-2gap rounded-md

    .image
        @apply lg:ml-[-100px] lg:mr-[-100px]

        figcaption
            @apply gap-5 flex justify-end text-sm  items-start items-center text-muted italic

            img
                @apply m-0  #{!important}

        picture
            img
                @apply w-full h-auto rounded

    .btn
        @apply inline-block font-sans text-secondary bg-primary px-3 py-1 rounded-md

    .btn-sm
        @apply text-sm

    .btn[disabled]
        @apply opacity-40

    .input-range
        @apply h-[4px] w-full cursor-pointer disabled:cursor-auto appearance-none border-transparent bg-neutral-600 disabled:bg-neutral-200 accent-primary
