{% load wagtailcore_tags %}

<div class="card">
    <a href="{% pageurl article.localized %}">
        <div class="card-content">
            <p class="title">{{ article.title }}</p>
            <div class="subtitle">{{ article.blurb|richtext }}</div>
        </div>
        <footer class="card-footer">
            <div class="card-footer__categories">
            <span class="tag">Category</span>
            </div>
            <div class="card-footer__date">{{ article.first_published_at|date:"j. F Y" }}</div>
        </footer>
    </a>
</div>
