name: Build website

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build.yaml'
      - 'assets/**'
      - 'code/**'
      - 'pages/**'
      - 'public/**'
      - 'styles/**'
      - '*config.js'
      - '.config/**'
      - 'package*.json'
      - 'yarn.lock'

  pull_request:
    paths:
      - '.github/workflows/build.yaml'
      - 'assets/**'
      - 'code/**'
      - 'pages/**'
      - 'public/**'
      - 'styles/**'
      - '*config.js'
      - '.config/**'
      - 'package*.json'
      - 'yarn.lock'

  workflow_dispatch:

permissions:
  contents: read # to allow the action to read the repository contents

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Install dotnet
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          dotnet-version: '8.0.x'

      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - run: corepack enable

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Install libvips
        run: sudo apt-get install libvips-dev

      - run: yarn install
      - run: yarn build
