name: "Docker: datasette"

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/docker-data.yaml'
      - '.dockerignore'
      - 'deployment/Dockerfile.datasette'
      - 'Pipfile*'
      - '**.py'
      - 'data/**'
    tags:
      - "v*.*.*"

  pull_request:
    branches:
      - "main"
    paths:
      - '.github/workflows/docker-data.yaml'
      - '.dockerignore'
      - 'deployment/Dockerfile.datasette'
      - 'Pipfile*'
      - '**.py'
      - 'data/**'

permissions:
  contents: read # to allow the action to read the repository contents
  packages: write # to allow the action to push Docker images to GitHub Packages

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      -
        name: Get Git information
        id: git-info
        run: |
          echo "branch=${GITHUB_REF#refs/heads/}" >> "$GITHUB_OUTPUT"
          echo "short_sha=${GITHUB_SHA::7}" >> "$GITHUB_OUTPUT"
          echo "timestamp=$(date +%s)" >> "$GITHUB_OUTPUT"
        shell: bash

      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/data
          tags: |
            type=raw,value=${{ steps.git-info.outputs.branch }}-${{ steps.git-info.outputs.short_sha }}-${{ steps.git-info.outputs.timestamp }}
            type=raw,value=latest
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=sha
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          platforms: linux/amd64,linux/arm64
      -
        name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ./deployment/Dockerfile.datasette
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
