name: "Docker: website"

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
    paths:
      - '.github/workflows/docker-web.yaml'
      - '.dockerignore'
      - 'deployment/Dockerfile.website'
      - 'assets/**'
      - 'code/**'
      - 'pages/**'
      - 'public/**'
      - 'styles/**'
      - '*config.js'
      - '.config/**'
      - 'package*.json'
      - 'yarn.lock'

  pull_request:
    branches:
      - "main"
    paths:
      - '.github/workflows/docker-web.yaml'
      - '.dockerignore'
      - 'deployment/Dockerfile.website'
      - 'assets/**'
      - 'code/**'
      - 'pages/**'
      - 'public/**'
      - 'styles/**'
      - '*config.js'
      - '.config/**'
      - 'package*.json'
      - 'yarn.lock'

permissions:
  contents: read # to allow the action to read the repository contents
  packages: write # to allow the action to push Docker images to GitHub Packages

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      -
        name: Get Git information
        id: git-info
        run: |
          echo "branch=${GITHUB_REF#refs/heads/}" >> "$GITHUB_OUTPUT"
          echo "short_sha=${GITHUB_SHA::7}" >> "$GITHUB_OUTPUT"
          echo "timestamp=$(date +%s)" >> "$GITHUB_OUTPUT"
        shell: bash

      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/website
          tags: |
            type=raw,value=${{ steps.git-info.outputs.branch }}-${{ steps.git-info.outputs.short_sha }}-${{ steps.git-info.outputs.timestamp }}
            type=raw,value=latest
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=sha

      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          platforms: linux/amd64,linux/arm64

      -
        name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      -
        name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ./deployment/Dockerfile.website
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
