name: Validate data

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          lfs: true # add this to download LFS files
          submodules: true # add this to download submodules

      - name: Validate data
        uses: frictionlessdata/repository@v1
          with:
            packages: "data/**/*package.yaml"
