name: Validate data

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/validate-data.yaml'
      - 'data/**'
  pull_request:
    paths:
      - '.github/workflows/validate-data.yaml'
      - 'data/**'
  workflow_dispatch:

permissions:
  contents: read # to allow the action to read the repository contents

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          lfs: true # add this to download LFS files
          submodules: true # add this to download submodules
          persist-credentials: false

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          version: "latest"

      - name: Validate data
        run: find ./data -name '*package.yaml' -print0 | xargs -0 -I {} sh -c 'echo "\nValidating {}:"; uvx frictionless validate {}'
        # run: uv run --group=build invoke validate
