name: Validate data

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/validate-data.yaml'
      - 'data/**'
  pull_request:
    paths:
      - '.github/workflows/validate-data.yaml'
      - 'data/**'
  workflow_dispatch:

permissions:
  contents: read # to allow the action to read the repository contents

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: true # add this to download LFS files
          submodules: true # add this to download submodules
          persist-credentials: false

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: "latest"

      - name: Validate data
        run: find ./data -name '*package.yaml' -print0 | xargs -0 -I {} sh -c 'echo "\nValidating {}:"; uvx frictionless validate {}'
        # run: uv run --group=build invoke validate
